<h2>Eventos</h2>
<hr>

<div>
  <label>Filtro: </label>
  <input type="text" placeholder="buscar evento" [(ngModel)]="filtroLista">
</div>

<hr>

<table class="table table-striped">
  <thead>
    <tr>

      <th>
        <button class="btn btn-outline-dark btn-sm" (click)="toggleImg()">
          {{showImg ? 'exibir' : 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>

    </tr>
  </thead>

  <tbody *ngIf="eventos && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img src="/assets/{{evento.imagemURL}}" alt="" [style.width.px]="larguraImg" [style.margin.px]="margemImg"
          [collapse]="showImg" [isAnimated]="true">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button class="btn btn-primary btn-sm">Editar</button>
        <button class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>

  <tfoot *ngIf="!eventosFiltrados.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>